{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.4"/>
{% endset %}
{% set repos %}
    {% if ARCH == "x86_64" %}
      <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/server/7/7.4/x86_64/os"/>
      <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/server/7/7.4/x86_64/optional/os"/>
      <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/server/7/7.4/x86_64/debug"/>
    {% endif %}
    {% if ARCH == "ppc64le" %}
      <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/power-le/7/7.4/ppc64le/os"/>
      <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/power-le/7/7.4/ppc64le/optional/os"/>
      <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/power-le/7/7.4/ppc64le/debug"/>
    {% endif %}
{% endset %}
