{# Just doing {% include "trees/tree.j2" %} doesn't export variables #}
{% import "trees/rhel87-z.j2" as tree with context %}
{% set distro_requires = tree.distro_requires %}
{% set host_requires = tree.host_requires %}
{% set kernel_options = tree.kernel_options %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% set kernel_options_post = tree.kernel_options_post|default("") + " efi=runtime" %}
{% set ks_append = tree.ks_append %}
{% set repos = tree.repos %}
