{% set NIGHTLY_REPO = "latest-RHEL-9.0.0" %}
{% set PULP_RELEASE = "9.0" %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux9"/>
  <distro_name op="=" value="RHEL-9.0.0"/>
{% endset %}
{% set distro_type = "e4s" %}
{% import "trees/rhel9-zstream.j2" as zstream with context %}
{% set repos = zstream.repos %}
{% set ks_append %}
  <ks_append><![CDATA[
%post
# Enable RHEL9 Buildroot for test dependencies
# not always the compose and buildroot compose have same date tag
cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
[BUILDROOT-9]
name=BUILDROOT-9
baseurl=http://download.eng.rdu2.redhat.com/rhel-9/rel-eng/BUILDROOT-9/latest-BUILDROOT-9.0.0-RHEL-9/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{% set host_requires %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude X-Gene systems as they are unsupported for rhel9 and frequently abort #}
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="apm-mustang-%"/>
        {# NOTE(rasibley): Exclude ThunderX (cn88xx) systems which are unsupported in rhel9 #}
        <hostname op="like" value="penguin-valkre%"/>
        <hostname op="like" value="gigabyte-r120%"/>
        <hostname op="like" value="gigabyte-r270%"/>
        {# NOTE (bgoncalv): Exclude Qualcomm Amberwings systems as they are unsupported in rhel9 #}
        <hostname op="like" value="qualcomm-amberwing%"/>
      </or>
    </not>
  {% endif %}
{% endset %}
